{% extends "layout.html" %}

{% block content %}
 <article>
 	<h2>What is it?</h2>
 	<p>A twitter bot that takes your confessions in the form of DMs and anonymously posts them to its timeline. All DMs are immediately deleted from the DM history. You can visit <a href="http://twitter.com/smlconfessional" target="_blank">@smlconfessional</a> to check it out!</p>
  </article>

   <article>
  	<h2>How To Use It</h2>
  	<p>The DMs on this bot are open, which means anyone can message it. <p>
  	<p>Send your message with a ~ in front of it.</p>
  	<p>Confessions are text and emoji only. Any links, mentions, pics, etc will result in the message to being tweeted.</p>
    <p>There is a filter on it mostly for the general twitter tire-fire, so keep that in mind.</p>
  </article>

  <article>
  	<h2>Why Make This?</h2>
  	<p>I was a really big fan of some of the internet confessionals from the early-ish internet, and just wanted to make a tiny twitter one. I feel sometimes you just need to get something off your chest, without it being tied to you, and without the flood of responses that comes from public social media. Yelling into the void, and letting it sift away is sometimes just what you need.<p>
  </article>

  <article>
  	<h2>Who Made It?</h2>
  	<p>Made by <a href="http://nadinelessio.com">NL</a>.</p>
  </article>
   
{% endblock %}